<div id="posts" class="text-center">
  <%= stylesheet_link_tag("post")%>
  <br>
  <p style="color: green"><%= notice %></p>
  <br>
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>
