<div id="posts" class="text-center">
  <%= stylesheet_link_tag("post")%>
  <div>
  <p style="color: green"><%= notice %></p>  
  <div>  
  <h1>My posts</h1>
  <br>
  <% @posts.each do |post| %>
    <% if post.user.id == current_user.id%>
        <%= render post %>
    <% end %>
  <% end %> 
</div>
