
<div id="posts" class="text-center">
  <%= stylesheet_link_tag("post")%>
  <div>
  <p style="color: green"><%= notice %></p>  
  <div>  
  <h1>New Post</h1>
  <br>
  <div class="row"><%= render "form", post: @post %>
</div>
